<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name=" GroupingTestSuite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
     <include name="Smoke" ></include>
    <include name="Functional" ></include>
    <!--   <exclude name="Sanity Test"></exclude> -->
  
  </run>
  
  </groups>
    <classes> 
      <class name="grouping.Class1"/>
      <class name="grouping.Class2"/>
       <class name="grouping.Class3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!--  GroupingTestSuite -->
